{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'pos_app/css/login.css' %}">
</head>
<body>
  <div class="login-container">
    <h2>Welcome Back!</h2>
    <p class="subtitle">EduAssist – Connecting Students and Solutions.</p>

    <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Enter Username" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <a href="#" class="forgot">Forgot Password?</a>
      <button type="submit">Sign in</button>
    </form>

    <!-- {% if messages %}
      {% for message in messages %}
        <p class="message">{{ message }}</p>
      {% endfor %}
    {% endif %} -->

    <p class="register">Don't you have an account? <a href="{% url 'register' %}">Register here.</a></p>
  </div>
</body>
</html>

 