{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'pos_app/css/register.css' %}">
</head>
<body>
  <div class="register-container">
    <h2>Register now!</h2>
    <p class="subtitle">
      From Queries to Clarity – Instantly. Sign up to enjoy smoother services and save your Queries!
    </p>

    <form method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Enter Full Name" required>
      <input type="email" name="email" placeholder="Enter Email" required>
      <input type="password" name="password" placeholder="Enter Password" required>
      <input type="password" name="password2" placeholder="Enter Confirm Password" required>
      <a href="#" class="forgot">Forgot Password?</a>
      <button type="submit">Sign Up</button>
    </form>

    {% if messages %}
      {% for message in messages %}
        <p class="message">{{ message }}</p>
      {% endfor %}
    {% endif %}

    <p class="login-link">Already have an account? <a href="{% url 'login' %}">Sign in here.</a></p>
  </div>
</body>
</html>
 